<li class="item-container">
    <div class="item-content">
        <a href="/storage/file/<%= file.id %>">
            <span class="file-name">
                <%= file.name %>
            </span>
            <span class="file-date">
                <%= file.createdAt %>
            </span>
        </a>
        <%- include('contextMenu', { itemType: 'file', item: file }); %>
    </div>
</li>