<li class="item-container">
    <div class="item-content">
        <a href="/storage/folder/<%= folder.id %>" class="folder-link">
            <span class="folder-name">
                <%= folder.name %>
            </span>
        </a>
        <%- include('contextMenu', { itemType: 'folder', item: folder }); %>
    </div>
</li>