<dialog id="move-dialog" class="move-dialog" style="position:absolute ;top: 50%;transform:translateY(-60%)">
    <div class="dialog-content">
        <h3 id="move-dialog-title">Move Item</h3>
        <div class="dialog-body">
            <div id="move-folder-path"></div>
            <div id="move-folder-list"></div>
        </div>
        <div class="dialog-actions">
            <button type="button" id="move-confirm-btn">Move here</button>
            <button type="button" onclick="closeMoveDialog()">Cancel</button>
        </div>
    </div>
</dialog>